::ng-deep .k-tooltip{
    background-color: #ffffff !important;
    color: #535862 !important;
    
}
::ng-deep .k-tooltip-content {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-family: 'Segoe UI' !important;
}