<div id="header">
    <div class="left"> 
        
        <div id="home">

            <img src="assets\hamburgerMnu.svg" alt="s">
            <p>ISP</p>
      
        </div>
        <div id="title">
            <p>Quotes</p>
        </div>
    </div>
    <div class="right">
        <div id="logo">
            <img src="assets\CH Logo_white_rgb.png" alt="logo">
        </div>
        <div id="name">
            <div class="uname">McKim,Alan S</div>
            <div class="profile">MA</div>
        </div>
    </div>
   
      
</div>
