#header {
    height: 50px;
    display: flex;
    background-color:#10162A ;
    align-items: center;
}
#title p {
    padding-left: 10px;
    font-weight: 300;
}
#isp-home{
    display: flex;
    align-items: center;
    background-color: #1C77D6;
    height: 50px;
    width: 91px;
    justify-content: center;
    cursor: pointer;
}
#isp-home img{
    width: 20px;
}

.home-circle {
    height: 38px;
    width: 38px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #181D27;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 38px;
}
p{
    font-weight: 400;
    font-size:24px ;
    color: #FFFFFF;
    padding-left: 10px;
    
}
.right {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    align-items: center;

}
.left {
    width: 50%;
    display: flex;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 100px;
    padding-right: 30px;
}
#name {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.uname {
   color:#FFFFFF;  
   font-weight: 200;
}
.profile {
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 12px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 8px;
}

