<div class="ft-btn">
    <div class="btn">
        <button kendoButton [size]="'small'" [fillMode]="'solid'" [themeColor]="'primary'" class="nmb"  >Create Quote</button>
    </div>
    <div  class="btn">
        <button kendoButton [size]="'small'" [fillMode]="'outline'" [themeColor]="'primary'" class="abm">Create Estimate</button>
    </div>
    <div  class="btn">
        <button kendoButton [size]="'small'" [fillMode]="'outline'" [themeColor]="'primary'" class="abm">Back</button>
    </div>



</div>