<div class="cnt">

    <div class="estimates">
        <div class="hdng">
                Create Quote/Estimates
        </div>
        <div class="headIntoFull">
            <div class="div1">
                <div class="hdn">Customer:</div>
                <div class="hhh"> WE35886 - WestRock Paper and Packaging, LLC - Charleston</div>
            </div>
            <div class="div2">
                <div class="hdn">Generator:</div>
                <div class="hhh"> WE35886 - WestRock Paper and Packaging, LLC - Charleston</div>
            </div>
            <div class="div3">
                <div class="hdn">Branch:</div>
                <div class="hhh"> TI35 - Thompson Industrial Services, LLC</div>
            </div>
            <div class="div4">
                <div class="hdn">Operating Segment :</div>
                <div class="hhh"> Industrial Services</div>
            </div>
            <div class="div5">
                <div class="hdn">Line of Business :</div>
                <div class="hhh">High Pressure Equipment Cleaning</div>
            </div>
            <div class="div6">
                <div class="hdn">Job Type:</div>
                <div class="hhh"> High Pressure Equipment Cleaning</div>
            </div>
            <div class="div7">
                <div class="hdn">Currency Code:</div>
                <div class="hhh"> USD</div>
            </div>

        </div>
    </div>


    <div class="EQ">
        <div class="stss">

            <div class="hng">
                Existing Quotes
                <span class="ap">
                   2 Available
                </span>
            </div>

            <div class="stsdt">
                <div class="dt">
                    <div class="nm">
                        Status
                    </div>
                    <kendo-dropdownlist #dropdownlist [data]="listItems" [fillMode]="'outline'"> </kendo-dropdownlist>
                </div>
                <div class="dt">
                    <div class="nm">
                        Date
                    </div>
                    <kendo-daterange >
                        
                          <kendo-dateinput [fillMode]="'outline'"
                            kendoDateRangeStartInput
                            [(value)]="range.start"
                          ></kendo-dateinput>
                       
                          <kendo-dateinput [fillMode]="'outline'"
                            kendoDateRangeEndInput
                            [(value)]="range.end"
                          ></kendo-dateinput>
                        
                      </kendo-daterange>
                </div>



        </div>
        </div>
        
        
        <div class="gr">
            <div class="sts">
                
               
            </div>

            <div class="grid">
                <app-grid></app-grid>
            </div>
        </div>
    </div>
</div>