.cnt {
    padding-left: 20px;
    padding-right: 20px;
}

.headIntoFull{
    
    display: grid;
   
    grid-template-columns: auto auto auto auto;
    
    align-content: space-evenly;
    padding: 5px;
    gap: 15px;
    padding: 12px;
   
    background: #FFF;
    border-radius: 6px;
border: 1px solid #FAFAFA;
background: #FFF;
box-shadow: 0px 1px 1px 0px rgba(118, 135, 154, 0.24), 0px 3px 8px 0px rgba(118, 135, 154, 0.08);

}
.hdn {
    color: #535862;
    font-family: "Segoe UI";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hhh {
    overflow: hidden;
    color: #101828;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hdng {
    color: #101828;
font-family: "Segoe UI";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 16px 0px;
}

.hng {
    color: #101828;
    font-family: "Segoe UI";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 12px;
    width: 20%;
   
    
    
}

// .gr {
//     padding: 12px;
// }
.stss {
    display: flex;
    align-items: center;
    padding: 12px 20px 0px 20px;
    
}
.sts {
    display: flex;
 
}
.stsdt{
    display: flex;
    justify-content: end;
    width: 80%;
    gap: 24px;
    
}

.icn {
    display: flex;
   
}

.dt {
    display: flex;
    align-items: center;
    
    
}
.nm {
    color: #414651;
font-family: "Segoe UI";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
margin-right: 8px;
}

kendo-dropdownlist {
    width: 200px;
}

.EQ {
    background-color: #FFF;
    margin-top: 24px;
    // padding: 15px;
    height: 391px;
    border-radius: 6px;
    border: 1px solid #FAFAFA;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(118, 135, 154, 0.24), 0px 3px 8px 0px rgba(118, 135, 154, 0.08);
   
}
.grid {
    margin-top: 16px;
}

.ap{
    border-radius: 16px;
background: var(--Purple-50, #F4F3FF);
color: var(--Purple-700, #5925DC);
text-align: center;

/* Small/Medium */
font-family: "SF Pro Display";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
padding: 5px 8px ;

}


//Custom css for chevron icon

::ng-deep .k-list-item.k-selected {
    color: #3f51b5 !important;
}

.chrn {
    position: relative;
}

::ng-deep .k-button-icon {
 
    visibility: hidden !important;
  }
   
   
   
  ::ng-deep .k-input-button{
   
    width: 35px !important;
  }
   
  .icon {
    width: 20px;
    position: absolute;
    bottom: 31%;
    right: 4%;
    color: #717680;
   
  }





  
//custom css for date
.startTime{
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 150px;
    margin-left: -20px;
}
 
.startTime.k-focus{
    box-shadow: none;
    border: 0;
}
 
.endTime{
    margin-left: -8px;
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -15px;
    width: 150px;
}
 
.dateRangeHolder{
    border: 1px solid #848484;
    border-radius: 4px;
   
}
 
.dateRangeHolder:focus{
    border-color: #3f51b5;
}
 
.dateDivider{
    border:1px solid #E9EAEB;
    border: 1px solid #E9EAEB;
    height: 25px;
    margin: auto;
}
 
.from{
    margin: auto;
    color: #535862;
    margin-left: 12px;
}
 
.to{
    margin: auto;
    color: #535862;
    margin-left: 12px;
}

.dt {
    position: relative;
}
.icon2 {
    position: absolute;
    right: 2%;
    color: #717680;
}


::ng-deep .k-input-value-text {
    color: var(--Gray-900, #181D27) !important;
font-family: "Segoe UI" !important;
// font-size: 14px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
}