.dp-dwn {
  position: relative;
  width: 350px;
  background-color: #ffffff;
}
.dwn-arrow {
  width: 20px;
  position: absolute;
  bottom: 30%;
  right: 2%;
  color: #717680;
 
} 

// ::ng-deep .k-animation-container{
//   background-color: #FFFFFF !important;
// }

::ng-deep .k-list-content{
  background-color: #FFFFFF;
}

  // ::ng-deep .k-button-icon {
 
  //   visibility: hidden !important;
  // }

    ::ng-deep .k-list-item.k-selected {
    color: #717680 !important;
  }
.txt-box {
    width: 200px;
}

.chk-box {
  display: flex;
  gap: 55px;
}

.clh-checkboxHolder, .clh-radioBtnHolder{
  display: flex;
  gap:4px;
}

.sec-holder{
  // border-bottom: 1px solid #717680;
  padding: 18px 0 24px 0;
}
.sec-holder:last-child{
  border: none;
}
.sec-heading {
  font-weight: 600;
  font-size: 14px;
  margin: 6px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.radio-btn{
  display: flex;
  gap: 55px;
}

.radio-btn-holder{
  display: flex;
  gap: 4px;
}

.btn {
  display: flex;
  gap: 50px;
}

.spacing {
  padding: 0 20px;
}

::ng-deep .k-radio-wrap{
  vertical-align: bottom;
  top: 1px;
}


// code for button

.primary-btn {
  background:#1C77D6;
  border-color: #1C77D6;
  box-shadow: none !important;
  text-transform: capitalize;
  font-weight: 600;
  height: 36px ;
}

::ng-deep{
  .k-button-solid-primary:hover {
    background-color: #1968BD !important;
  }
  .k-button-solid-primary:focus {
    background-color: #1968BD  !important;
  }
  .k-button-solid-primary:active {
    background-color: #1968BD  !important;
  }
  .k-button-solid-base:focus{
    background-color: #F5f5f5 !important;
  }
  .k-button-solid-base:active{
    background-color: #F5f5f5 !important;
  }
  .k-button-solid-base:hover{
    background-color: #F5f5f5 !important;
  }

}

.Secondary-btn {
  box-shadow: none !important;
  text-transform: capitalize;
  font-weight: 600;
  height: 36px ;
  background-color: #ffffff;
  color: #414651;
  border-color: #A4A7AE !important;
}

// code for button end




// code for dropdown



::ng-deep .k-input-inner::placeholder {
  color: #717680 !important;
  
}
::ng-deep {


  .drpdwn .k-svg-i-x {
    display: none !important;
  }
  .drpdwn .k-clear-value{
    display: none !important;
  }
  
  
  .k-list-item:focus, .k-list-optionlabel:focus, .k-list-item.k-focus, .k-focus.k-list-optionlabel  {
    background-color: #ffffff;
  }
  .k-list-item:hover {
    background-color: #f5f5f5 !important;
  }
  .k-checkbox:checked {
    background-color:#1C77D6 !important ;
    color: #1968BD !important;
    border: 1px solid #1C77D6 !important;
  }

  .k-checkbox:checked::before{
    background-color: #FFFFFF;
  }
  .k-input-outline:focus-within {
    // border-color: #1968BD !important;
    // border: 0.5px !important;  
    border: none !important;
   
  }
  
  .k-list-item-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .k-list-content  .k-checkbox {
    border: 1px solid #D5D7DA !important;
  }
  .k-list-content  .k-checkbox:checked {
    border: 1px solid #1968BD !important;
  }
  .k-chip {
    border-color: #D5D7DA !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #414651;
    
  }
  .k-svg-i-x-circle {
 
    
    color: #A4A7AE !important;

}


.k-chip:nth-child(3) .k-chip-label{
  color: #1C77D6 !important ;
}

.k-chip:nth-child(3) .k-chip-actions{
  display: none !important;
}
.k-chip {
  background-color: #ffffff !important;
}



}




.drpdwn {
  border-color: #A4A7AE !important;
  // background-color: #ffffff;
}

.drpdwn:focus-within {
  border-color: #1968BD !important;
}



//code for dropdown end


//code for grid


.badge-success {
  background-color: #ECFDF5;
  color: #059669;
}

.badge {
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 500 !important;
}


::ng-deep .k-header {
  background-color: #EAECF5 !important;
}

::ng-deep .k-grid .k-grid-header .k-table-th{
  vertical-align: middle !important;
  padding: 12px  !important;
  // font-weight: 600 !important;
  // color: #181D27 !important;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

::ng-deep .k-column-title{
  font-weight: 600 !important;
  color: #181D27 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  // line-height: 14px;
}

::ng-deep .k-table, .k-data-table{
  color: #181D27 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  line-height: 19.2px;
}

::ng-deep .k-grid .k-table-td{
  // padding: 5px 24px !important;
  white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    height: 48px;
    padding: 0 12px;
    border-color: #E9EAEB rgba(0, 0, 0, 0);
}

::ng-deep .k-grid-header .k-grid-header-menu{
  color: #A4A7AE !important;
}

::ng-deep .k-grid-header .k-grid-header-menu:hover{
  color: #212121 !important;
}


::ng-deep .k-grid .k-table-tbody{
  background-color: #FFFFFF !important;
}

::ng-deep .k-grid .k-table-tbody > .k-table-row:hover{
  background-color: #F1F7FD !important;
}

::ng-deep .k-grid .k-table-td .k-checkbox,
::ng-deep .k-grid .k-grid-header .k-checkbox {
  width: 20px;
  height: 20px;
  border-color: #D5D7DA;
}

::ng-deep .k-grid .k-table-td .k-checkbox:checked {
  background-color: #F1F7FD;
  color: #1C77D6;
  border-color: #1C77D6;
}

::ng-deep .k-grid .k-table-row.k-selected > .k-table-td{
  background-color: #E4EFFB;
}

img {
  margin-left: 15px;
  margin-top: 10px;
}

.rowIcon {
  margin: 0 auto !important;
}

.iconTxt {
  font-size: 10px !important;
  margin: -6px 0 0 0 !important;
  padding: 0 !important;
}

.actionContainer {
  display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 30px;
}

.delete-iconHolder {
  // text-align: center;
  // display: flex;
  // margin-top: 4px;
  // padding: 0 10px;
  // margin-right: 8px;
  cursor: pointer;

  // width: 200px;
  height: auto;
  background-image: url('../../assets/delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  width: 24px;
  background-position: center;
}
.delete-iconHolder:hover{
  background-image: url('../../assets/delete-hover.svg');
} 

.edit-iconHolder {
  height: auto;
  background-image: url('../../assets/edit.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  width: 24px;
  background-position: center;
  cursor: pointer;
}

.edit-iconHolder:hover{
  background-image: url('../../assets/edit-hover.svg');
}


.chrn {
  width: 200px;
  margin-left: 20px;
}

::-webkit-scrollbar {
  display: none !important;
}




//code for text box

::ng-deep {
  .k-input-inner {
    color: #181D27 !important;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: #A4A7AE !important;

  }

  .k-input-outline:hover {
    border-color: #1968BD !important;
  }

  .clh-txtBox{
    border-color: #A4A7AE !important ;
    background-color: #ffffff !important;
    
  }
  .k-input-md .k-input-inner {
    padding: 8px !important;
  }
}


//CSS for Stepper

::ng-deep{
  .k-step-done .k-step-indicator{
    background-color: #039855 !important;
    border-color:#039855 !important;
    z-index: 10 !important;
  }
  .k-stepper .k-step-indicator {
    background-color: #ffffff;
    border-color: #717680;
    color: #717680;
  }
  .k-focus .k-step-indicator{
    border: none;
  }

  .k-step-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .k-stepper .k-step-indicator::after {
    border-color: transparent !important;
    // background-color: transparent !important;
    
  }
  .k-stepper .k-step-label .k-step-text  {
    color: #181D27;
  }
 
  .k-step-list-horizontal ~ .k-progressbar {
    background-color: #D5D7DA !important;
  }

  .k-progressbar .k-selected{
    background-color: #039855 !important;
}

.k-step-indicator-text{
  line-height: 20px;
}

}



// code for autocomplete


::ng-deep {
  .k-input-md .k-input-inner {
    background-color: #ffffff;
  }
  .k-no-data, .k-nodata {
    background-color: #ffffff;
    box-shadow: none;
  }
  .k-svg-i-x .k-svg-icon .k-icon {
    color: #717680;
  }
  
}

.autocmplt {
  width: 200px;
  background-color:  #ffffff;
}









// code for date 


// code for date
.startTime{
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 90px;
  margin-left: -20px;
}

.startTime.k-focus{
  box-shadow: none;
  border: 0;
}

.endTime{
  margin-left: -8px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -15px;
  width: 150px;
}
::ng-deep .k-input-md .k-input-inner  {
  background-color: transparent !important;
}
.dateRangeHolder{
  border: 1px solid #9e9e9e;
  border-radius: 4px;
 
}

.dateRangeHolder:focus{
  border-color: #3f51b5;
}

.dateDivider{
  border:0.5px solid #E9EAEB;
  border: 0.5px solid #E9EAEB;
  height: 20px;
  margin: auto;
}

.from{
  margin: auto;
  color: #535862;
  margin-left: 8px;
  margin-bottom: 8px;
}

.to{
  margin: auto;
  color: #535862;
  margin-left: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 4px;
  margin-bottom: 8px;

  
}

.dt {
  position: relative;
}
.icon2 {
  position: absolute;
  right: 3%;
  color: #717680;
  top:58%;
 
  
}

.dateDivider {
  margin-left: 0px;
  margin-right: 0px
}
// .startTime {
//   width: 100px;
// }
.endTime {
  width: 115px;
  background-color: transparent;
}

::ng-deep .k-input-value-text {
  
font-family: "Segoe UI"  !important;
font-size: 14px  !important;
font-style: normal  !important;
font-weight: 400  !important;
line-height: normal  !important;
}
.nm {
  margin-bottom: 5px;
}
::ng-deep .k-input-inner {
  color: var(--Gray-900, #181D27) !important;

font-family: "Segoe UI" !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
}
::ng-deep .k-column-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px;
}

::ng-deep .k-table-td{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 400 !important;
}

.from {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 8px;
}



.dt {
  width:300px;
}

::ng-deep .k-animation-container-shown {
  background-color:#ffffff !important;
}



.wdth {
  width: 180px;
  background-color: #ffffff;


}
.bgrnd {
  background-color: #ffffff;
}


// code for date picker
kendo-datepicker {
  width: 180px;
  border-color: #9e9e9e;
}

::ng-deep .k-button-md.k-icon-button .k-button-icon {
  color: #717680;
  box-shadow: none
}


::ng-deep .k-datepicker .k-input-button{
  border-inline-start-width: 0px !important;
}
 

// code for tooltip

::ng-deep .k-tooltip{
  background-color: #ffffff !important;
  color: #535862 !important;
  display: block !important;
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03) !important;

  
}
::ng-deep .k-tooltip-content {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: 'Segoe UI' !important;
  
}
::ng-deep .k-callout {
 color: #ffffff !important;
 
}

::ng-deep .k-animation-container {
  box-shadow: none !important;
  border-radius: 8px !important;

}

// ::ng-deep .k-calendar .k-focus .k-link {
//   background-color: #F1F7FD !important;
//   color: #1c77d6 !important;
// }

::ng-deep .k-datepicker-popup .k-calendar .k-focus .k-link {
   background-color: #1c77d6 !important;
  color: #FFFFFF !important;
}


kendo-grid {
  height: 400px !important;
}


::ng-deep   {
  background-color: #717680 !important;
}
::ng-deep .k-button-solid-primary {
  box-shadow: none !important;
}


// code for pagination
.pager {
  width: 64px;
}
::ng-deep .k-picker-solid {
  background-color: #FAFAFA !important;
  border: 1px solid #A4A7AE !important;
  border-radius: 4px !important;
}

::ng-deep .k-pager-info {
   color: #535862 !important;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
   font-weight: 400 !important;
   font-size: 12px !important;

}

::ng-deep .k-pager-sizes {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  color:transparent !important;
  font-weight: 400 !important;
   font-size: 12px !important;
}
::ng-deep .k-input-value-text {
  color: #717680 !important;
}
::ng-deep .k-pager-numbers .k-button-text {
  color: #535862 !important;
  font-weight: 500 !important;
  font-size: 12px !important;

}

::ng-deep .k-window {
  background-color: #ffffff !important;
  width: 435px !important;
  height: 180px !important;
}


::ng-deep .k-dialog-actions {
  border: none;
}
::ng-deep .k-window-content {
  padding-top: 0px;
}
::ng-deep .k-dialog-titlebar {
  padding-bottom: 0px;
}

.space {
  width: 100px;
}

::ng-deep .k-window-title {
  color: var(--Gray-800, #252B37);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
}

::ng-deep .k-window-content p{

margin-bottom: 0px;

color: var(--Gray-900, #181D27);

/* Text lg/Regular */
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;


}

.thd {
  color: var(--Gray-600, #535862);

  /* Body/Regular */
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  margin-right: 4px;

}
.tdd {
  color: var(--Gray-900, #181D27);

/* Body/Medium */
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
margin-right: 20px;
margin-top: 5px;

}
.tc {
  display: flex;
}

::ng-deep .k-overlay {
  opacity: 0.5;
background: var(--Gray-800, #252B37);

backdrop-filter: blur(4px);
}

::ng-deep .k-button-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  