// ::ng-deep .k-header {
//     border: none !important;
    
//     // background-color: beige;
// }


// ::ng-deep  .k-table-td {
//     border-left: none !important;
//     border-right: none !important;
   
// }

// ::ng-deep thead {
//     background-color: #F6F8FA !important;
   
// }

// ::ng-deep .k-table-th {
//     padding-bottom: 0px !important;
// }

// ::ng-deep .k-master-row.k-table-row:hover {
//     background-color: #F2F8FF !important;
// }

// ::ng-deep .k-input-inner {
//     background-color: white !important;
// }

// ::ng-deep button {
//     background-color: white !important;
//     display: none !important;
    
// }


app-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}