<!-- <kendo-grid
      [kendoGridBinding]="gridData"
      
      [height]="400"
      [columnMenu]="{ filter: true }"
    >
      <kendo-grid-column
        field="ProductID"
        title="ID"
        [width]="40"
        [filterable]="false"
      >
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Product Name">
      </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Unit Price" >
      </kendo-grid-column>
      <kendo-grid-column field="UnitsInStock" title="Unit Price">
      </kendo-grid-column>
    </kendo-grid> -->

  <app-header></app-header>
  <app-main></app-main>
  <app-footer></app-footer>