/* You can add global styles to this file, and also import other style files */
@use "@progress/kendo-theme-material/scss/all.scss" as *;


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //ellipsis 
    
        background-color: #F8F9FC;
        margin: 0px !important;
         
        
}

.k-grid .k-table-td{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    // line-height: 40px;

}
::-webkit-scrollbar {
    display: none !important;
}


// custom css for date
.k-daterangepicker-popup{
    position: absolute !important;
    width: 410px !important;
    left: -41px !important;
}



.k-grid .k-grid-header .k-filterable > .k-cell-inner .k-link{
    height: 14px !important;
}

.k-column-title{
    font-weight: 400 !important;
}
 

.k-picker-outline, .k-input-outline{
    border-color: #D5D7DA !important;
}


