/* You can add global styles to this file, and also import other style files */
@use '@progress/kendo-theme-material/scss/all.scss' as * with (
    $kendo-colors: (
        
        base-hover: #fafafa,
        primary: #1C77D6,
        surface-alt:transparent,
      )

      
);
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //ellipsis 
    
        background-color: #F8F9FC;
        margin: 0px !important;
         
        
}

// ::-webkit-scrollbar {
//     display: none !important;
// }



// .k-grid .k-table-td{
//     white-space: nowrap !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//     // line-height: 40px;

// }





// // custom css for date
// .k-daterangepicker-popup{
//     position: absolute !important;
//     width: 410px !important;
//     left: -41px !important;
// }



// .k-grid .k-grid-header .k-filterable > .k-cell-inner .k-link{
//     height: 14px !important;
   
// }

// .k-column-title{
//     font-weight: 400 !important;
// }
 

// .k-picker-outline, .k-input-outline{
//     border-color: #D5D7DA !important;
// }


// // .icon {
// //     width: 20px;
// //     position: absolute;
// //     bottom: 31%;
// //     right: 4%;
// //     color: #717680;
   
// //   }


// //   .chrn {
// //     position: relative;
// // }


// //  .k-list-item.k-selected {
// //     color: #858db8 !important;
// // }